/* put your custom css here */
* {
    font-family: roboto, arial, sans-serif;
}

h3 {
    color: darkcyan;
    background-color: lightblue;
    text-align: center;
    margin: 0;
    padding: 1rem 0;
}

quote-of-the-day {
    margin-top: 1rem;
}
